body{
    font-family: 'Circular Std';
    font-style: normal;
    margin: auto;
    /* background-color: red; */
    overflow-x: hidden;
   
    
}




.intro-page{
    margin: 0 auto;
    height: 1150px;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 5.92%, #C3F8F2 80%, #FFFFFF 10% );
    position: relative;
    overflow: hidden;
    z-index: -10;
}   


.nav-bar{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
    position: relative;
}

.nav-bar > *{
    flex-grow: 1;
}

.logo-container img{
    width: 150px;
    padding-top: 30px;
}
.nav-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 50px;
    gap: 30px;
    justify-content: center;
    
}


.nav-list li a {
    text-decoration: none;
    color:#20262A;
}

.login-btn{
    padding-top: 30px;
    text-align: right;
}


.login{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #00B6F0;
    border: solid 1px #00B6F0;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 15px 20px;
    width: 131px;
}

.burger{
    width: 25px;
    margin-top: 40px;
    margin-left: 10px;
    display: none;
}

.burger div{
    height: 3px;
    background-color: #20262A;
    margin: 5px 0 5px auto;
    
    
}

.line1{
    width: 25px;
}

.line2{
    width: 15px;
}

.line3{
    width: 5px;
}



 @media (max-width: 970px) {
     .nav-list{
        position: fixed;
        inset: 0 0 0 80%;
        flex-direction: column;
        justify-content: right;
        padding: 5em 1em ;
        background: #00B6F0;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out; 
    }

    .nav-list[data-visible="true"]{
        transform: translateX(0%) ;
    }

    .nav-list li a{
        color: #FFFFFF;
    }

    .login-btn{
        width: 60%;
    }

    .burger{
        display: block;
        justify-self: left;
        
    }

    
    /* .mobile-nav-toggle{
        display: block;
        background-color: transparent;      
        aspect-ratio: 1;
        border: 0;
        z-index: 9999;
        
    } 

    .mobile-nav-toggle img{
        width: 3rem;
    } */ 

   
    
} 


.intro-container{
    padding: 150px 0;
    margin: 0 auto;
    
    width: 380px;
    
    
}
.intro-circle{
    position: absolute;
    width: 526.46px;
    height: 462.48px;
    left: -480.77px;
    top: 250px;
    background: #00B6F0 !important;

    border-radius: 50%;
    z-index: -2;
}

.intro-circle2{
    position: absolute;
    width: 712.45px;
    height: 475.1px;
    left: 301px;
    top: 408px;
    border-radius: 50%;
    background-color: #F3CD03;
   
    z-index: -2;
}


.intro-page h1{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #112D57;
}

.text{
    font-weight: 450;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #5C5C5C;
}

.buttons{
    display: flex;
    gap: 20px; 
    z-index: 5000;   
}

.get-started{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #00B6F0;
    border-radius: 25px;
    border: none;
    flex-direction: row;
    align-items: center;
    padding: 20px 36px;
    
    
}

.try-for-free{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #00B6F0;
    border: none;
    background: #FFFFFF;
    border-radius: 25px;
    flex-direction: row;
    align-items: center;
    padding: 20px 36px;

}


.dash img{
    margin-top: 50px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 6;
    opacity: 1000%;
    


}

.navigate{
    position: relative;
    height: 700px;
    background: #FFFFFF;

}

.con-navigate{
    text-align: center;
    width: 350px;
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.navigate h2{
    font-weight: 450;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1px;
    color: #F3CD03;

}

.navigate h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #20262A;

}

.download{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #00B6F0;
    border-radius: 25px;
    border: none;
    flex-direction: row;
    align-items: center;
    padding: 20px 36px;
    width: 251px;
    
}

.see-state{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #00B6F0;
    border: solid 1px #00B6F0;
    background: #FFFFFF;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    padding: 20px 36px;
    width: 181px;

}

.navigate-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;  
}

.features{
    position: relative;
    height: 1500px;
    overflow: hidden;
    
}

.intro-circle3{
    position: absolute;
    width: 362.46px;
    height: 362.48px;
    left: -270.77px;
    top: 10px;
    background: #00B6F0;

    border-radius: 50%;
    z-index: -2;
}

.intro-circle4{
    position: absolute;
    width: 462.46px;
    height: 462.48px;
    left: 200.77px;
    top: 650px;
    background: #F3CD03;

    border-radius: 50%;
    z-index: -2;
}

.card-features{
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    padding: 15px 0;
}

.con-features1{
    text-align: center;
    
}

.con-features2{
    text-align: center;
    
}

.card-features img{
    width: 300px;
    height: 251px;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    margin: 55px 0px;
}

.card-features h3{
    /* width: 233px;
    height: 42px; */
    font-weight: 450;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1px;
    color: #20262A;
}

.card-features h4{
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #00B6F0;
}

.task{
    position: relative;
    text-align: center;
    height: 800px;
}

.con-task{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 340px;
}

.con-task h2{
    font-weight: 700;
    font-size: 56px;
    line-height: 65px;
    letter-spacing: 0.2px;
    color: #20262A;
}

.progress-bar{
    width: auto;
    background-color: #F3F5F8;
    height: 16px;
    border-radius: 20px;
}


.bar{
    width: 50%;
    height: 16px;
    background-color: #00B6F0;
    border-radius: 20px;
}

.facebook{
    text-align: justify;
    display: flex;
    width: 100%;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
margin: 20px 0;
color: #505D6F;
    
}

.f-text{
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;


    color: #505D70;
}



.f-num{
    text-align: right;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    

    text-align: right;

    color: #505D70;
}

.testimonial{
    position: relative;
    height: 800px;
    overflow: hidden;
   
    
}

.con-testimonial {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 340px;
    text-align: center;
}

.intro-circle5{
    position: absolute;
    width: 122.35px;
height: 86.48px;
left: -107.4px;
top: 30.87px;
background: #112D57;
opacity: 0.63;
border-radius: 50%;
transform: matrix(0.6, 0.8, 0.8, -0.6, 0, 0);
}



.intro-circle6{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 150px ;
   
    display: inline;
    background: #112D57 ;
    
    border-radius: 50%;
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: -5;
}


.con-testimonial h2{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1px;
    color: #20262A;
}

.ibm{
    width: 130px;
    margin: 15px 0;
} 



 .name-card{
    margin: 40px 0;
} 


.name-con{
    display: flex;
    justify-content: center;

}

.dp{
    display: block;
    width: 50px;
    margin-right: 15px;
}

.card-text{
    text-align: left;
    margin-top: 5px;
}

.username{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 20px;
letter-spacing: 0.2px;
color: #20262A;
}

.user-text{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.1px;
color: #5C5C5C;

}

.all-testimonies{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #00B6F0;
    border-radius: 35px;
    border: none;
    flex-direction: row;
    align-items: center;
    padding: 20px 36px;
    width: 201px;
}

.pricing{
    background-color: #182333;
    height: 1200px;
    position: relative;
    width: auto;
    margin: 0;
    z-index: 100;
    font-family: 'Circular Std';
    font-style: normal;

}

.con-pricing{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 340px;
    text-align: center;
    padding-top: 150px;
}

.con-pricing h2{
    font-weight: 700;
font-size: 56px;
line-height: 65px;
letter-spacing: 0.2px;
color: #FFFFFF;

}

.con-pricing h3{
    width: 140px;
    font-weight: 450;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;

}

.p-text{
    font-weight: 450;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.money{
    display: flex;
    margin: -70px auto;
    justify-self: center;
    text-align: center;
    width: 140px;
    
}

.five{
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: 0.2px;
    color: #F3CD03;
}

.money-text{
    font-weight: 450;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: auto 0;


}

.p2-text{
    font-weight: 450;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 170px;
    margin: 20px auto;
}

.info{
    width: 100%;
    padding: 150px 0;
    text-align: center;
    height: 650px;
    background: linear-gradient(180deg, #E9FAFF 0%, rgba(233, 250, 255, 0) 100%);
}

.info h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #20262A;
    width: 60%;
    margin: 20px auto;   
}

.footer{
  

    font-family: 'Circular Std';
    font-style: normal;
    width: 100%;
    
   
}

.footer-left{
    text-align: center;
}

.footer-left img{
    width: 150px;
}

.footer-text{
    font-size: 18px;
}

.footer-list{
    
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    row-gap: 20px;

}

.footer-list li{
    margin: 50px;
}

.footer-list li a{
    text-decoration: none;
    text-transform: none;
    color: #20262A;
    text-align: center;
    
    
}


.con-icons{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 20px
}

.fa-brands{
    color: #112D57;
}


@media (min-width: 680px){

.intro-page{
    height: 1500px;
}
.intro-container{
    width: 480px;   
}
.intro-circle{
    left: -380.77px;
    
}

.intro-circle2{
    left: 501px;
}

.buttons{
    gap: 50px;    
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

.dash img{
    width: 580px;
    
}

.navigate{
    position: relative;
    height: 700px;
    background: #FFFFFF;

}

.con-navigate{
    width: 580px;
}



.download{

    margin-bottom: 15px;
    width: 300px;
    
}



.nav-btn-con{
    width: 480px;
}



.features{
    position: relative;
    height: 1600px;
    overflow: hidden;
    
}



.intro-circle4{
    left: 300.77px;
}

.card-features{
    width: 400px;
}


.con-features1 img{
    width: 450px;
    height: 351px;
}

.con-features2 img{
    width: 450px;
    height: 351px;
}



.con-task{
    width: 650px;
}



.con-testimonial {
    width: 440px;
}





.intro-circle6{
    left: 350px ;
}




}

@media(min-width: 1020px){

    
    .intro-page{
        overflow-y: visible;
        background: linear-gradient(180deg, #FFFFFF 5.92%, #C3F8F2 40%, #FFFFFF 10% );
        height: 2000px;
    }
    .intro-container{
        width: 480px; 
    }
    .intro-circle{
        left: -380.77px;
        
    }
    
    .intro-circle2{
        left: 1301px;
    }
    
    .buttons{
        gap: 50px;    
        margin: 0 auto;
        width: 100%;
        justify-content: center;
    }
    
    
    .dash img{
        width: 1280px;
        overflow-y: visible;
    }
    
    .navigate{
        position: relative;
        height: 700px;
        background: #FFFFFF;
    
    }
    
    .con-navigate{
        width: 580px;
    }
    
    
    
    .download{
    
        margin-bottom: 15px;
        margin-right: 50px;
        width: 180px;
        
    }

    
    
    
    
    .nav-btn-con{
        width: 480px;
    }
    
    
    
    .features{
        position: relative;
        height: 1000px;
        overflow: hidden;
        display: block;
        margin: 0 auto;
        justify-self: center;
        width: 100%;

        
    }

    .card-features{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 100% !important;

    }

    .con-features1{
        display: flex;
        flex-direction: row-reverse;
        width: 1000px;
        margin: 0 auto;
        text-align: left;


    }

    .con-features1 p{
        text-align: left;
    }

    .con-features2{
        display: flex;
        width: 1000px;
        margin: 0 auto;
        text-align: left;
        


    }

    .con-features2 p{
        text-align: left;
    }

    .text-features1{
        width: 500px;
        
        margin-right: 300px; 
        
        position: relative;

    

    }

    .text-features2{
        width: 500px;
        
        margin-left: 300px; 
        
        position: relative;

    

    }

    
    
    .intro-circle3{
        left: 1250.77px;
    }
    
    
    .intro-circle4{
        left: -100.77px;
        top: 500px
    }


    
    .card-features{
        width: 400px;
    }
    
    
    .con-features img{
        width: 450px;
        height: 351px;
    }
    
    
    
    .con-task{
        width: 650px;
    }
    
    
    
    .con-testimonial {
        width: 440px;
    }
    
    
    
    .intro-circle5{
        left: -350px ;
        top: 200px
    }
    
    .intro-circle6{
        left: 600px ;
        bottom: -300px;
    }

    .info{
        height: 300px;
    }
    
    .con-info{
        display: flex;

        
    }
    .con-info h3{
        text-align: left;
        
    }
    .con-info  p{
        text-align: left;
        
    }

    .left-info{
        width: 50%;
        text-align: left !important;
    }
    .right-info{
        width: 50%;
        text-align: left;
    }



    .con-footer{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        width: 80%;
    }

     .con-footer > *{
        flex-grow: 1;
    } 

    .footer-list{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        
    }

    .footer-list li{
        margin: 20px;
    }

    .footer-left{
        text-align: left;
        
    }

    .footer-text{
        margin-top: -5px;
    }

    .con-icons{
        display: flex;
        margin: 0 auto;
        justify-content: right;
        gap: 20px
    }



}