@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
    font: inherit;
}

html,
body{
    height: 100%;
    z-index: 0;
    max-width: none;
}

/* Nav Bar */

nav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    width: 100%;    
    z-index: 999;
    background-color: #fff;
}

.nav-container{
    display: flex;
    background-color: #fff;
    gap: 3rem;
    max-width: 72rem;
    margin: 0 auto;
    padding: 1rem;
    font-family:'DM Sans', sans-serif;
    font-weight: bold;
    position: relative;
}


.nav-logo img{
    width: 170px;
    height: 40px;
    padding-top: 9px;
}

.nav-link-container{
    width: 100%;
    display: flex;
} 
.nav-link{
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

.nav-link li a{
    text-decoration: none;
    color: black;
}

.nav-btn{
    justify-self: right;
    display: flex;
    margin: 0 0 0 auto;
    gap: 0.5rem;
    width: 100%;
    justify-content: flex-end;
}

button{
    border-radius: 10px;
    border: none;
    padding: 1rem;
}

.primary-btn{
    background-color: #0C1825;
    color: #fff;
}

.secondary-btn{
    background-color: #fff;
    border: 1px solid #DBDBDC;
}

.burger{
    display: none;
}


.burger div{
    width: 25px;
    height: 2.5px;
    background-color: #000;
    margin: 5px;
}

@media (max-width:970px){

    .nav-logo{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    .nav-container{
        flex-direction: column;
    } 

    .nav-link-container{
        flex-direction: column;
        display: none;

    }

    .nav-link{
        flex-direction: column;
    }

    .nav-btn{
        flex-direction: column;
    }

    .nav-btn > * {
        margin-top: 2rem;
    }

   

    .burger{
        display: block;
        padding-top: 10px;
    }

    .nav-active{
       display: block;
       height: calc(100vh - 77px);
    }

     .fixed{
        position: fixed;
    } 

    
    .toggle .line1{
        transform: rotate(45deg) translate(6px,5px);
        transition: transform 0.2s ease;
        transition-delay: 0.2s;
    } 
     .toggle .line2{
        width: 0;
        margin: 0 auto;
        transition: width 0.2s ease;
    }
    .toggle .line3{
        transform: rotate(135deg) translate(-6px,5px);
        transition: transform 0.2s ease;
        transition-delay: 0.2s;
    } 
}

.intro-right{
    margin: 0 auto;
    position: relative;
    margin: 2rem;
    justify-content: center;
    height: 620px;
    width: 300px;
}

.intro-right > *{
    position: absolute;
}

.intro-girl{
    width: 309px;
    height: 500px;
    z-index: 0;
}

.investify{
    width: 215px;
    height: 116px;
    bottom: 8rem;
    right: -1rem;
}

.my-rent{
    width: 215px;
    height: 116px;
    top: 8.5rem;
    left: -2.5rem;
}

.intro-cross{
    top: -2.5rem;
    left: -2rem;
    z-index: 2;
}

.intro-box{
    width: 300px;
    height: 572px;
    top: -2rem;
    left: 2rem;
    z-index: -1;
}

.intro-circle{
    right: -1.5rem;
    top: 8rem;
}

.intro-dot{
    bottom: 12rem;
    left: -1rem;
    z-index: 1;
}

