nav{
    padding: 1rem;
}

.burger{
    margin-top: 0.5rem;
}

.line{
    width: 1.3em;
    height: 0.2rem;
    margin: 0.3rem;
    background-color: white;

}

.music-logo{
    position: relative;
}

.music-logo :nth-child(2){
    position: absolute;
    top: 7px;
    left: 8px;
}

.nav-top{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    height: 3.5rem;
    
}

.nav-top-left{
    display: flex;
    gap: 1rem;
}

.search{
    color: grey;
    margin-top: 0.5rem;
}


