*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
    font: inherit;
}

html,
body{
    height: 100%;
}

h1{
    
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    font-weight: 999;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 800; 
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: lighter;
    color: #000;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65rem;
    
}

.bold{
    font-weight: 900;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: #000;
}


.for-business {
   
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
}

/* Nav bar */
.primary-header{
   
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height:4.3rem ;
    z-index: 999;
    font-size: 0.7rem;
    
}


.nav-container{
    padding: 1.2rem 4rem;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #fff;

    
    
}

/* .nav-container > *{
    flex-basis: 100%;
} */



.nav-container img{
    width: 6rem;
    margin: 0;

}

.nav-list{
    list-style: none;
    display: flex;
    gap: 3rem;   
    padding-top: 0.3rem;
    margin-left: 2rem;
    border: 1px solid blue;
    width: max-content;
}

.nav-list ul li {
    width: 1rem;
}
.nav-list a{
    text-decoration: none ;
    color: #000;
    font-weight:550;
    border: 1px solid red;
}

.ph-btn{
    display: flex;
    gap: 2rem;
    margin: 0;
    text-align: right;
    justify-content: right;
    width: 100%;
}

.btn-secondary{
    padding: 0.35rem;
    border: none;
    border-radius: 0.2rem;
    color: #000;
    background-color: #fff;
}

.btn-primary{
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    background-color: #125bc9;
}

.burger{
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-list{
        display: none;
    }

    .nav-container{
        background-color: #F4F3EE  !important;
    }

    .ph-btn{
        display: none;
    }
}

/* Intro Section */
main{
    z-index: -999;
    position: relative;
    margin-top: -0.8rem;
    
}

main > *{
    padding: 0rem 1rem;
}

.intro{
    background-color: #F4F3EE;
    padding-top: 1rem;

}

.new{
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.newTag{
    background-color: #125bc9;
    color: #fff;
    padding: 0.5rem 0.8rem;
    border-radius: 15px;
    text-transform: uppercase;
    width: 4rem !important;
}

.readMoreTag{
    color: #125bc9;
}

.intro-left> *{
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.il-btn{
    display: flex;
    gap: 1rem;
}

.btn-get-started{
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    background-color: #125bc9;

}

.btn-schedule-demo{
    background-color: #F4F3EE;
    border: none;
    position: relative;
    z-index: 0;
    padding-right: 1rem;
}

.greaterthan{
        position: absolute;
        top: 5;
        bottom: 5;
        left: 8;
        right: 0;        
        color: #000;
        transform: scale(1.2 ,2);
        font-weight: lighter; 

    
}

.grey-text{
    color: #63738A;
}

.intro-logo-container{
    display: flex;
    gap: 0.4rem;
    
    
}


.intro-logo img{
    width: 6rem;

} 


.payday{
    margin-left: -0.5rem;
}

.betdemand img {
    padding-top: 0.4rem;
    width: 9rem ;
}

.brace{
    padding-top: 0.4rem;
}

.intro-right{
    padding-bottom: 1rem;
}
@media (min-width:768px){
    .intro-left {
        margin:0 auto;
        max-width: 55%;


    }

    .intro{
        margin: 0 auto;
        justify-content: center;
    }

    .intro-right {
        width: 100%;
    }

    .intro-logo-container{
        display: flex;
        
        
    }



    
}

@media (min-width:1020px){
    .intro{
        display: flex;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .intro-right{
        text-align: center;
    }

    .intro-right img{
        width: 32rem;
    }

    .intro-left{
        padding-top: 3rem;
    }
}


/* Growth section */

.growth{
    text-align: center;
    justify-content: center;
}

.growth *{
    padding-bottom: 0.7rem;
    justify-self: center;
    margin: 0 auto;
}

.growth h3{
    width: 86%;

}

.growth-card{
    padding-top: 2rem;
}

.growth-card img{
    width: 4rem;
}

.growth-card h4{
    color: #EF6B4D;
}

@media (min-width:768px){
    .growth-heading h3{
        width: 60%;
    }

    .growth-card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .growth-card-container > * {
        flex: 1 1 10rem;
    }

    .growth-card{
        min-width: 16rem;
    }

    .growth h1{
        max-width: 35rem;
    }

    .growth-card h3{
        width: 15rem;
}
}

@media (min-width:1020px){
    .growth-heading h3{
        width: 32%;
    }

    h1{
        font-size: 3rem;
    }

    .growth-card-container{
        max-width: 52rem;
    }

    .growth h1{
       max-width: 60rem;
    }

    
}


.pricing{
    background-color: #F8FAFC;
    padding: 2.2rem 1rem;
    margin: 1rem;
}

.pricing-left{
    margin-bottom: 2rem;
}

.pricing-left img{
    background-color: #F4F3EE;
}
.pricing-right > *{
    margin-bottom: 1.5rem;
    
}

.view-pricing-btn{
    background-color: #F8FAFC;
    padding: .7rem 1.8rem;
    border: 1px solid #125bc9;
    position: relative;
    z-index: 0;
    color: #125bc9;
    border-radius: 0.5rem;
    padding-right: 2.5rem;
}

.pricing-greaterthan{
    position: absolute;
    top: 5;
    bottom: 5;
    left: 5;
    right: 3;        
    color: #125bc9;
    transform: scale(1.2 ,2);
    font-weight: lighter; 
    padding-left: 0.8rem;
    padding-top: 0.07rem;
    

}

@media (min-width:768px){
    .pricing-left img{
       width: 40rem;
       background-color:#F8FAFC;
    }
    .pricing-right > *{
        max-width: 27rem;
    }
    
}

@media (min-width: 1020px){
    .pricing{
        display: flex;
        width: 80rem;
        margin: 0 auto;
    }

    .pricing > *{
        margin: 0 auto;
    }

    .pricing-right {
        align-self: center;
        
    }

    .pricing-right h2{
        font-size: 2rem;
    }


}

/* for developers section */

.fd-top > *{
    padding-bottom: 1rem;
}

.fdb-card{
    background-color: #F8FAFC;
    padding: 2.2rem 1rem;
}

.fdb-card > * {
    padding-bottom: 1rem;
}



.fd-bottom img {
    width: 4rem;
    
}

@media(min-width: 768px){
    .fd-top h2{
        font-size: 2.5rem;
        font-weight: 900;
    }

    .fdb-card-container{
        display: flex;
        gap: 1rem;
    }

    
}

@media(min-width: 1020px){
    .for-developers{
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .fd-top{
        margin: 10rem 0 3rem 0;
    }

    .fdb-card{
        width: 100%;
    }

    .fdb-card > *{
        width: 30rem;
    }

    
}


/* Get started section */
.get-started{
    padding: 2rem 1rem;
}
.gt-left > *{
    margin-bottom: 1.4rem;
}

.create-an-account-btn{
    background-color: #125bc9;
    padding: 1rem 1.8rem;
    border: none;
    position: relative;
    color: #fff;
    border-radius: 0.4rem;   
}

.play-video-btn{
    background-color: #fff;
    padding: 1rem 1.8rem;
    border: none;
    position: relative;
    color: #000;
    border-radius: 0.5rem;
}

.gtr-card{
    padding: 2.2rem 1rem;
    margin-bottom: 2rem;
}

.gtr-card > *{
    padding-bottom: 1rem;
    
}

.gtr-card img{
    width: 4rem;
}

.business-card{
    background-color: #E6EBF3;
}

.developer-card{
    background-color: #FCF7EF;
}

@media (min-width: 768px){
    .gt-left{
        max-width: 50%;
        margin: 0 auto;
    }

    .gtr-card-container{
        display: flex;
        gap: 1rem;
    }
}

@media (min-width:1020px){
    .get-started{
        display: flex;
        margin: 2rem 6rem 0 6rem;
    }

    .gt-left{
        min-width: 50%;
        align-self: center;
    }

    .gt-left > *{
        width: 25rem;
    }

    .gt-left h2{
        font-size: 2.2rem;
    }

    .gt-left h3{
        font-size: 1rem;
    }

    .gt-btn > *{
        font-size: 1rem;
    }
}
/* footer section */

footer{
    background-color: #131825;
    color: #fff;
    padding-top: 5rem;
}

.footer-top > *{
    padding-bottom: 1rem;
    color: #fff;
}





.footer-list{
    list-style: none;
    margin: 2.2rem 0;
}

.footer-list a{
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: lighter;
    
}

.footer-list li:first-child{
    font-weight: 999;
    padding-bottom: 1rem;
}

.footer-list li{
    padding-bottom: 1rem;
}

.footer-list-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.footer-list-top ul:nth-child(2){
    width: 45%;
}
.footer-list-middle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.footer-list-middle ul:nth-child(2){
    width: 45%;
}

.footer-list-bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.footer-list-bottom ul:nth-child(2){
    width: 45%;
}

.footer-logo{
    display: flex;
    gap: 1rem;
}


.circle{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    
}

.footer-logo i{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 0.6rem;
} 

footer h3{
    color: #fff;
    padding-top: 1rem;
}

.footer-arr{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

@media (min-width: 768px){
    footer{
        display: grid;
        grid-template-columns: 50% auto auto;
        grid-template-rows: 15% auto auto;
        gap: 1rem;
        
    }

    .footer-top{
        grid-column-start: 1;
        grid-column-end: 2;
        

    }

    .footer-top > *{
        line-height: 1.5rem;
    }

    .footer-middle{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end:3;
        
    }

    .footer-bottom{
        grid-row-start:2;
        grid-row-end:3;
        
    }

    .footer-bottom > *{
        line-height: 1.5rem;
    }

    .footer-list{
        margin-top: 0;
    }
}

@media (min-width: 1020px){
    footer{
        grid-template-columns: 30% auto auto;
        grid-template-rows: 25% auto auto;
    }
    
    footer > *{
        margin: 0 6rem 0 6rem;
    }

    .footer-middle{
        display: flex;
        flex-wrap:wrap;     
        
    }

    .footer-middle > * {
        flex-basis: 50%;
    }

    .footer-list li{
        width: 12rem;
    }

    .footer-list-bottom{
        margin-right: 0;
        margin-left: auto;
    }

    .footer-top{
        
    }

    .footer-bottom{
        
    }


}