.curratedPlaylist{
    background-color: #609EAF;
    ;
    padding: 2rem;
    margin: 1rem;
    height: 503px;
    display: flex;
    position: relative;
    border-radius: 20px;
    color: white;
    position: relative;
}

.mask{
    position: absolute;
    right: 0;
    top: 0
}

.curratedPlaylistTop{
    position: absolute;
}

.curratedPlaylistBottom {
    align-self: flex-end;
}

.curratedPlaylistBottom > * {
    margin-bottom: 1rem;
}

.cpb-bottom{
    display: flex;
    gap: 1rem;
    
    
}

.ellipses{
    position: relative;
    width:7rem;
   
}

.ellipses :nth-child(2){
    position: absolute;
    left: 1rem;
}
.ellipses :nth-child(3){
    position: absolute;
    left:2rem
}
.ellipses :nth-child(4){
    position: absolute;
    left: 3rem;
}
.ellipses :nth-child(5){
    position: absolute;
    left: 4rem;
}
.ellipses :nth-child(6){
    position: absolute;
    left: 5rem;
}

.cpb-bottom p{
    align-self: center;
    
}