.new-releases h3{
    padding: 1rem 1rem 0 1rem;
}
.new-releases-con{
    display: flex;
    padding: 1rem;
    flex: 1, 1, auto;
    min-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    gap: 1.5rem;
}

.new-releases-con::-webkit-scrollbar {
    display: none;
  }

.new-releases-card img{
    border-radius: 20px;
}

