.popular-in-your-area h3{
    padding: 1rem 1rem 0 1rem;
}
.popular-in-your-area-con{
    display: flex;
    padding: 1rem;
    min-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    gap: 1.5rem;
}

.popular-in-your-area-con::-webkit-scrollbar {
    display: none;
  }

.popular-in-your-area-card img{
    border-radius: 20px;
}

