
input{
    background: white;
    border: none;
    color: black;
    border-radius: 5px;

 
}

.shot{
    border: 1px solid black;
    width: 100%;

}
.showlp{
    display: flex;
    border: 1px solid #006666;
    border-radius: 5px;
}
.passwrd{
    padding: 15px 0px;
}

.pass{
    width: 100%;
}
.line{
    width: 30% !important;
    margin: 0px 10px !important;
  

}

.linespace{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.leftpp{
   width: 80%; 

}
.lollllo{
   /* display: flex; */
   width: 100%;
}
.lolo{
   width: 100%;
   
}

.seconder{
    width: 60%;
    height: 100vh;
    object-fit: cover;
}
.second img{
    width: 100%;
    height: 100%;

}

.leftpp input{
    width: 97% !important;
}

.pics{
    width: 80%;
}
.general{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh !important;
    flex-basis: 100%;
    gap: 20px;
    /* justify-content: space-around; */
}

.kiki{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hhhhh{
    width: 100% ;
}


.button_yup{
    background-color: #006666;
    color: white;
    width: 619px;
    height: 60px;
    border: 1px solid #92918F;
    border-radius: 5px;
}

.showlp{
    width: 100% ;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.shotqwe{
    width: 100% ;
    height: 60px;
    border: 1px solid #006666;
    padding-left: 20px;
    background: transparent;
}
.shift{
    padding-right: 20px;
}
.forgot{
    text-align: center;
    padding: 20px 0px;
    color: #006666;
    
}
.fogo{
    text-decoration: none;
    color: #006666;
}

.google{
   
    flex-direction: column;
}

.gogorere{
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
}

.fac{

    width: 100% ;
    height: 60px;
    border: 1px solid #006666;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.fa-brands{
    padding: 0px 10px 0px 30px;
   
}

/* .fa-google{
    
} */

.sec{
    padding: 20px 0px;
}

.go{
    padding: 10px 0px;
}

.foot{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.foot a{
    text-decoration: none;
    color: #006666;
    padding: 0px 5px;
}

.pass p{
    line-height: 2px;
}

.welcome {

    padding-bottom: 10%;

}

.gooootyty{



    width: 100% ;
    height: 60px;
    border: 1px solid #006666;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.showlp input{
    width: 80%;
  
    outline: none;
    background: transparent;
}

.chronic{
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    
  width: 24%;
    height: 60px;
}

.picsee{
    width: 100%;
    height: 100vh;
}
@media (max-width:1142px){
    .leftpp{
        width: 65%;
    }

    


    .seconder{
        width: 40%;
    }
}
@media (max-width:992px){
    .leftpp{
        margin: 0 auto;
        min-width:fit-content;
        padding: 20px;
    }

    
    


    .seconder{
        display: none;
    }
} 